@media only screen  
     and (min-width : 200px)
     and (max-width : 758px)
     and (orientation : portrait) {
        .navigation {
            position: fixed;
            top: 0;
            box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1) !important;
            background: white;
        }

        .display-container {
            margin-top: 15% !important;
            margin-bottom: 15% !important;
            padding-left: 10px;
            padding-right: 10px;
        }

        .img-header {
            margin-top: 5%;
        }

        .img-1 {
            height: 100%;
        }

        .container {
            width: 100%;
        }

        .headerFontNav {
            margin-left: 45%;
        }

        .img-1 {
            width: 100%;
        }

        .display-body-1 {
            margin-top: 0px;
        }

        .display-body-2-content-1 {
            margin-top: 5% !important;
        }

        .display-body-2-content-1 .contentImg {
            height: 50px;
        }

        .display-body-2-content-1 img{
            width: 100%;
            height: 100%;
        }

        .content {
            margin-left: 5%;
        }

        .display-body-3 .content1 {
            grid-template-columns: 100% !important;
            margin: 0px;
        }

        .display-body-3 .content1 .card .cardBody h3{
            font-size: 1.5rem;
        }

        .display-body-3 .content2 h2{
            font-size: 2rem;
        }

        .display-body-3 .content2 ul{
            margin-top: 10% !important;
        }

        .display-body-4-content-2 {
            grid-template-columns: 100%;
        }

        .containerCard {
            grid-template-columns: 100%;
        }

        .cards {
            grid-template-columns: 100%;
            text-align: center;
            padding: 30px;
        }

        .cards img{
            width: 50%;
            height: auto;
            justify-self: center;
        }

        .cards .contentCards {
            margin-top: 5%;
        }
        
        .contentStatistik {
            margin-top: 10%;
            grid-template-columns: 70%;
        }

        .statistikCard {
            margin-top: 10%;
        }

        .cardTeam {
            margin-top: 15%;
        }

        #TeamContainer {
            margin-bottom: 25% !important;
        }

        footer .contentFooter {
            grid-template-columns: 100%;
        }

        footer .developeWithContainer {
            grid-template-columns: 90%;
            text-align: center;
        }
}